$greenColor:#61e366;
$orangeColor:#efba54;

@mixin transition-bg($sec) {
  -webkit-transition: background-color $sec ease;
     -moz-transition: background-color $sec ease;
      -ms-transition: background-color $sec ease;
       -o-transition: background-color $sec ease;
          transition: background-color $sec ease;
}
@mixin transition-all($sec) {
  -webkit-transition: all $sec ease;
     -moz-transition: all $sec ease;
      -ms-transition: all $sec ease;
       -o-transition: all $sec ease;
          transition: all $sec ease;
}
.footer-wrapper {
	background: rgb(240,189,79);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwYmQ0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2YwYmQ0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzYxZTM2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgb(240,189,79) 0%, rgb(240,189,79) 49%, rgb(97,227,102) 50%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(240,189,79)), color-stop(49%,rgb(240,189,79)), color-stop(50%,rgb(97,227,102)));
	background: -webkit-linear-gradient(left,  rgb(240,189,79) 0%,rgb(240,189,79) 49%,rgb(97,227,102) 50%);
	background: -o-linear-gradient(left,  rgb(240,189,79) 0%,rgb(240,189,79) 49%,rgb(97,227,102) 50%);
	background: -ms-linear-gradient(left,  rgb(240,189,79) 0%,rgb(240,189,79) 49%,rgb(97,227,102) 50%);
	background: linear-gradient(to right,  rgb(240,189,79) 0%,rgb(240,189,79) 49%,rgb(97,227,102) 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0bd4f', endColorstr='#61e366',GradientType=1 );
}
.footer {
    max-width: 1280px;
    min-width: 1000px;
    width:100%;
    margin: 0 auto;
    position: relative;
    cursor: auto;
    font-family: 'HeliosCond';
    display: table;
}
.footer__sidebar {
    width:195px;
    background-color: $orangeColor;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    color:#7b6027;
}
.footer__sidebar p {
    font-size: 80%;
}
.footer__content {
    background-color: $greenColor;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 10px;
    color:#2f7e33;
}
.nav-footer__list {
    float: left;
}
.nav-footer__item {
    display: inline-block;
}
.nav-footer__link {
    color: #378a3b;
    font-size: 80%;
    display: block;
    padding: 5px;
    @include transition-bg(0.2s);
}
.nav-footer__link:hover {
    color: #fff;
    background-color: #4dbc52;
}
.logo-develop {
    float: right;
    width: 75px;
    height: 23px;
    display: block;
    background-image: url('../img/logo-karandash.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @include transition-all(0.3s);
}
.logo-develop:hover {
    background-image: url('../img/logo-karandash-hover.png');
}