.footer-wrapper
	footer.footer
		.footer__sidebar
			p © АО Норильск-Телеком, 2006-2015<br>Все права защищены
		.footer__content
			ul.nav-footer__list
				li.nav-footer__item
					a(href="").nav-footer__link.link Размещение информации
				li.nav-footer__item
					a(href="").nav-footer__link.link Офисы продаж
				li.nav-footer__item
					a(href="").nav-footer__link.link Заявка на подключение
				li.nav-footer__item
					a(href="").nav-footer__link.link Техническая поддержка
				li.nav-footer__item
					a(href="").nav-footer__link.link Обратная связь
				li.nav-footer__item
					a(href="").nav-footer__link.link Вакансии
				li.nav-footer__item
					a(href="").nav-footer__link.link Карта сайта
			a(href="http://www.karandash.pw").logo-develop
				