script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
// developers scripts
script(src="js/main.js")
// html5shiv (HTML5 CSS3 in old browsers)
script(src="js/vendor/html5shiv.js")
// slider
script(src="js/vendor/jquery.glide.js")