aside.sidebar
	.logo.animated.zoomInDown
		a(href="")
			img(src="img/logo.png")
	.nav
		.nav__search
			span.icon-search
			input(type="search" placeholder="ПОИСК").search__input
		ul.nav__list
			li.nav__item
				a(href="").nav__link
					span.icon-display.icon
					|ИНТЕРНЕТ И СЕТЬ
			li.nav__item
				a(href="").nav__link
					span.icon-connection.icon
					|WI-FI
			li.nav__item
				a(href="").nav__link
					span.icon-tv.icon
					|ТЕЛЕВИДЕНИЕ
			li.nav__item
				a(href="").nav__link
					span.icon-phone.icon
					|ТЕЛЕФОНИЯ
			li.nav__item
				a(href="").nav__link
					span.icon-briefcase.icon
					|ЮР ЛИЦАМ
			li.nav__item
				a(href="").nav__link
					span.icon-book.icon
					|ОБРАЗОВАНИЕ
			li.nav__item
				a(href="").nav__link
					span.icon-question.icon
					|ПОМОЩЬ
	.order-online
		.order-online__title
			|ЗАКАЗАТЬ УСЛУГУ
		p.order-online__desc
			|интернет, телефония, кабельное и цифровое ТВ
		a(href="").order-online__link
			button.order-online__button
				|ONLINE
	.service-contacts
		p.service-contacts__parag появились вопросы?
		p.service-contacts__num 400-052
	.social
		ul.social__list
			li.social__item
				a(href="").social__link
					img(src="img/vkontakte.png").social__img
			li.social__item
				a(href="").social__link
					img(src="img/odnoklassniki.png").social__img
			li.social__item
				a(href="").social__link
					img(src="img/twitter.png").social__img
	.payment
		p.payment__desc способы оплаты
		.payment__method
			ul.method__list
				li.method__item
					a(href="").method__link
						img(src="img/logo_cp.png").method__img
				li.method__item
					a(href="").method__link
						img(src="img/logo_qiwi.png").method__img
				li.method__item
					a(href="").method__link
						img(src="img/logo_yad.png").method__img
				li.method__item
					a(href="").method__link
						img(src="img/visa.png").method__img
				li.method__item
					a(href="").method__link
						img(src="img/logo_card.png").method__img
				li.method__item
					a(href="").method__link
						img(src="img/logo_platezhka.png").method__img